<div class="myform">
<form action="/tasks" method="post">
    <div class="form-group">

  <h3>Enter a new task:</h3>
  <div class="form-group">
  <input type='text' class="form-control" name='task[title]'id="task1" placeholder="My Task"><br/>
</div>


<div class="form-group">
  <textarea name='task[description]' class="form-control" placeholder="Task Description"></textarea><bvr/>
  <input class="btn btn-default" type='submit' id ="subbut"/>
</div>

</form>
</div>
